# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar entornos virtuales
env/
venv/
*.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de datos si no deben versionarse
savefiles/*.json
